.hourlyContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.hourlyContainer h1 {
    padding: 10px 15px;
}

.hourlyContainer h1 {}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    width: 180px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.dark-mode tr:nth-child(even) {
    background-color: #222;
  }

/* @media (max-width:1200px) {
    th{
        width: 170px;
    }
    table{
        margin: 5px 0;
    }
    
}

@media (min-width:1025px) {
    th{
        width: 140px;
    }
    table{
        margin: 5px 0;
    }
    
} */
@media (min-width: 769px) and (max-width: 1024px) {

    table {
        margin: 5px 0;
        padding: 2px;
    }

    table .visibility {
        display: none;
    }

}

@media (min-width: 1025px) and (max-width: 1200px) {
    .hourlyContainer {
        margin-top: 50px;
    }

    th {
        width: 150px;
    }

    table {
        margin: 5px 0;

    }

}

@media (min-width: 481px) and (max-width:768px) {
    .hourlyContainer {
        margin-top: 50px;
    }

    table .feelslike,
    .humidity,
    .wind,
    .visibility {
        display: none;
    }

    table {
        margin: 0 1px;
    }

}

@media (min-width: 320px) and (max-width:480px) {
    .hourlyContainer {
        margin-top: 50px;
    }

    table .feelslike,
    .humidity,
    .wind,
    .visibility {
        display: none;
    }

    table {
        margin: 0 1px;
    }

}